@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
}

/* Заголовок 1 */
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

/* Заголовок 2 */
.catalog-hotels-title,
.newsletter-title,
.advantages-title,
.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-title {
  padding-top: 95px;
}

.index-newsletter-title {
  color: #ffffff;
}

/* Загоовок 3 */
.hotel-card-title,
.advantages-item-main-title,
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

/* Заголовок 4 */
.navigation-link,
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.catalog-filter-title {
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}

/* Текст */
.newsletter-description,
.advantages-description,
.search-description {
  color: #333333;
  text-align: center;
}

.newsletter-description {
  width: 475px;
  margin: 0 auto;
  padding-top: 30px;
}

.search-description {
  padding: 30px 300px 0 300px;
}

/* текст в блоках */
.control,
.select-control,
.hotel-card-type,
.hotel-card-price,
.hotels-on-page-title,
.advantages-item-main-rating,
.advantages-item-main-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.main-background,
.page-header,
.catalog-hotels,
.newsletter-catalog,
.page-footer,
.advantages,
.search {
  background-color: #ffffff;
}

.newsletter {
  background-color: #5180AB;
  background-image: url("../images/index-background-newsletter.jpg");
  background-repeat: no-repeat;
}

.newsletter-catalog,
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog-hotels {
  display: flex;
  flex-direction: column;
}

.main-advantages {
  background: #82b3d3;
}

.advantages-item-detailed {
  background: rgba(131, 179, 211, 0.12);
}

.beautiful-road {
  background: rgba(131, 179, 211, 0.2);
}

.navigation-item-number-favorites {
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
  padding-bottom: 19px;
}

/* кнопки */
.button {
  font-family: inherit;
  padding: 15px 45px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.button-second {
  background-color: #82b3d3;
}

.button-selected {
  background-color: #7db54f;
}

.newsletter-button {
  border-radius: 0 10px 10px 0;
}

.catalog-filter-button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.hero {
  background-color: #417aa4;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}

.footer-contacts-address-phone {
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.filter-content {
  background-color: #775654;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-group {
  border: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
  border-radius: 4px;
  width: 140px;
  height: 37px;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
}

.pagination-item {
  background: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  background: #f2f2f2;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
}

.white-font {
  color: #ffffff;
}

.black-font {
  color: #000000;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  padding-right: 70px;
}

.navigation-logo {
  margin-right: auto;
  padding-left: 70px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero-welcome,
.hero-gorgeous,
.hero-sedona,
.hero-devider {
  display: block;
  margin: 0 auto;
}

.hero-welcome {
  padding-top: 50px;
}

.hero-gorgeous {
  padding-top: 10px;
}

.hero-sedona {
  padding-top: 50px;
}

.hero-devider {
  padding-top: 25px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantage-details-list {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  width: 400px;
}

.advantage-details-list {
  width: 1200px;
}

.housing,
.food,
.souvenirs {
  padding-top: 80px;
}

.advantages-item-main-title {
  padding-top: 100px;
}

.advantages-item-main-description {
  padding-bottom: 100px;
  margin: 0 auto;
  width: 230px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search .button {
  margin: 55px 310px 90px 310px;
}

.newsletter-form {
  padding-top: 45px;
  padding-bottom: 95px;
  margin: 0 auto;
}

.newsletter-form .field {
  width: 600px;
  height: 60px;
  background-color: #f2f2f2;
}

.newsletter-form .button {
  width: 200px;
  height: 60px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social {
  width: 140px;
  height: 40px;
  margin-left: 70px;
  margin-right: 40px;
  justify-content: space-between;
}

.footer-contacts {
  width: 720px;
  height: 50px;
}

.footer-logo {
  padding-right: 70px;
}
