@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  width: 100%;
  background-color: #e5e5e5;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Заголовок 1 */
.inner-header-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.catalog-hotels-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  align-self: center;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-bottom: 30px;
  margin: 0;
}

.search-description {
  color: #333333;
  text-align: center;
  padding: 0 305px;
  margin: 0;
}

.search .button {
  margin: 55px 310px 0 310px;
}

.navigation {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.navigation-logo {
  margin: 0;
  padding-right: 30px;
  padding-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 390px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-item img {
  margin: 0;
  padding: 0;
  align-self: center;
}

.navigation-user {
  display: flex;
  flex-wrap: nowrap;
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  padding: 20px 35px;
  text-align: center;
}

.navigation-user .navigation-link {
  padding: 20px 0;
}

.navigation-user .button {
  padding: 8px 15px;
  margin: 15px 30px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.advantages-item-main-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-bottom: 30px;
}

.advantage-details-list .advantages-item-main-title {
  padding-top: 100px;
}

.advantages-item-main-rating {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

.advantages-item-main-description {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  text-align: center;
  color: #ffffff;
}

.advantage-details-list .advantages-item-main-description {
  width: 230px;
  text-align: center;
  margin: 0 85px 80px 85px;
  color: #333333;
}

.advantages-short-description {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.advantages-short-description .advantages-title {
  max-width: 620px;
  margin: 0 auto;
  padding: 60px 0 30px 0;
}

.advantages-short-description .advantages-description {
  margin: 0;
  padding-bottom: 90px;
  text-align: center;
}

.advantage-details-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantage-details-list .advantages-title {
  padding-bottom: 30px;
  text-align: center;
}

.main-advantages {
  display: flex;
  background: #82b3d3;
  justify-content: space-between;
}

.advantages-item-detailed {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.beautiful-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  color: #333333;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5180ab;
  background-image: url("../images/index-background-newsletter.jpg");
  background-repeat: no-repeat;
}

.newsletter-title {
  padding-top: 90px;
  padding-bottom: 30px;
  margin: 0 auto;
  font-size: 29px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.newsletter-description {
  width: 475px;
  margin: 0 auto;
  padding-bottom: 45px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  padding: 0;
  padding-bottom: 90px;
  margin: 0 auto;
}

.newsletter-form .field {
  width: 600px;
  height: 60px;
  padding: 0 0 0 20px;
  margin: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.newsletter-form .button {
  width: 200px;
  height: 60px;
  padding: 10px 15px;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
}

.control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-on-page-title {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-right: 50px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 290px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.hotels-on-page-select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 160px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.white-background {
  background-color: #ffffff;
}

.newsletter-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog-hotels {
  display: flex;
  flex-direction: column;
}

.navigation-item-number-favorites {
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
  padding-bottom: 19px;
}

/* кнопки */
.button {
  font-family: inherit;
  padding: 15px 45px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.button-selected {
  background-color: #7db54f;
}

.newsletter-button {
  background-color: #82b3d3;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
}

.catalog-filter-button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  grid-area: reset;
  align-self: end;
}

.hero {
  background-color: #417aa4;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}

.breadcrumbs {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

.breadcrumbs-item {
  padding-right: 10px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.hotel-list {
  list-style-type: none;
  width: 1056px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 18px;
}

.pagination-wrapper {
  width: 1056px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination .pagination-item:not(:last-child) {
  margin-right: 8px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  margin-right: 13px;
}

.footer-contacts-address-phone {
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.filter-content {
  background-color: #775654;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 150px 250px 288px 160px;
  grid-template-rows: 1fr 40px;
  grid-template-areas:
    "infra type price button"
    "infra type price reset";
  gap: 0 70px;
}

.catalog-filter-infra {
  grid-area: infra;
}

.catalog-filter-type {
  grid-area: type;
}

.catalog-filter-price {
  grid-area: price;
}

.button-catalog-filter {
  background-color: #82b3d3;
  grid-area: button;
  font-weight: 700;
  padding: 0;
  height: 48px;
}

.catalog-filter-group {
  border: 0;
  margin: 0 auto;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  background: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-link-current {
  background: #f2f2f2;
  border-radius: 4px;
  color: #000000;
}

.white-font {
  color: #ffffff;
}

.black-font {
  color: #000000;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.link {
  text-decoration: none;
}

.page-main {
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
}

.hero-welcome,
.hero-gorgeous,
.hero-sedona,
.hero-devider {
  display: block;
  margin: 0 auto;
}

.hero-welcome {
  padding-top: 50px;
}

.hero-gorgeous {
  padding-top: 10px;
}

.hero-sedona {
  padding-top: 50px;
}

.hero-devider {
  padding-top: 25px;
}

.housing,
.food,
.souvenirs {
  padding-top: 80px;
  padding-bottom: 30px;
}

/* .page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 70px;
} */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 70px;
}

.footer-social {
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: flex-start;
}

.hotel-sorting-wrapper {
  display: flex;
  width: 1057px;
  margin: 50px auto 55px auto;
  justify-content: space-between;
}

.view-hotel-sorting-wrapper {
  display: flex;
  gap: 10px;
}

.current-view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.hotel-card a {
  display: block;
}

.hotel-card {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "image image"
    "title title"
    "type price"
    "detail favourites"
    "stars rating";
  grid-gap: 16px 20px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hotel-card-image {
  grid-area: image;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-area: title;
}

.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  grid-area: type;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  grid-area: price;
}

.hotel-card-detail {
  display: block;
  grid-area: detail;
  padding: 8px 0;
  font-weight: 700;
  text-align: center;
}

.hotel-card-favourites {
  background-color: #82b3d3;
  grid-area: favourites;
  padding: 8px 0;
  font-weight: 700;
}

.star-hotel {
  grid-area: stars;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
  border-radius: 4px;
  grid-area: rating;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator-over-pagination {
  margin: 66px auto 30px auto;
  padding: 0;
  width: 1055px;
  border-top: 1px solid #e6e6e6;
}
